/***********************************************/
/***********************************************/
/* ©2014 Dan Vassallo @ Trendsetter Marketing */
/**********************************************/
/***********************************************/

body {
  background-color: #181759;
}

#animation-container{
  padding-top: 20px;
  margin: 0 auto;
  #animation-window{
    border: 10px #fff solid;
    margin: 0 auto;
    background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/background.jpg);
    height: 1170px;
    width: 900px;
    overflow: hidden;
  }
}

// SPRITES
.dog,
.title,
.trash,
.mc,
.ufo,
.ape,
.crn,
.etc,
.craze,
.thuglife,
.pig,
.crazelogo,
.mclogo,
.etclogo,
.apelogo,
.crnlogo,
.ufologo,
.diffuser,
.fire,
.turtle,
.chicken,
.glass,
.sblink,
.tourbutton,
.starburst{
  position: relative;
  cursor: pointer;
}
.dog{
  top: 300px;
  left: 510px;
  width: 120px;
  height: 130px;
}
.pig{
  top: -3370px;
  left: 210px;
  width: 120px;
  height: 130px;
}
.title{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/tourtitle.png);
  width: 709px;
  height: 263px;
  margin-right: auto;
  margin-left: auto;
  top: 648px;
  left: 20px;
  z-index: 99;
}
.trash{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/trash.png);
  z-index: 98;
  width: 884px;
  height: 148px;
  left: 0;
  top: 455px;
  z-index: 98;
}
.mc{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/mc.png);
  width: 138px;
  height: 448px;
  left: 725px;
  top: -52px;
  z-index: 97;
}
.ufo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/ufo.png);
  width: 150px;
  height: 450px;
  left: 604px;
  top: -442px;
  z-index: 96;
}
.ape{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/ape.png);
  width: 164px;
  height: 422px;
  left: 501px;
  top: -935px;
  z-index: 95;
}
.crn{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/crn.png);
  width: 141px;
  height: 443px;
  left: 232px;
  top: -1348px;
  z-index: 95;
}
.etc{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/etc.png);
  width: 158px;
  height: 360px;
  left: 103px;
  top: -1791px;
  z-index: 95;
}
.craze{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/craze.png);
  width: 98px;
  height: 374px;
  left: 30px;
  top: -2134px;
  z-index: 94;
}
.thuglife{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/thuglife.png);
  width: 445px;
  height: 370px;
  left: 185px;
  top: -2540px;
  z-index: 93;
}
.crazelogo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/crazelogo.png);
  width: 257px;
  height: 140px;
  left: 42px;
  top: -2573px;
  z-index: 100;
}
.mclogo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/mclogo.png);
  width: 190px;
  height: 53px;
  left: 661px;
  top: -2591px;
  z-index: 100;
}
.etclogo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/etclogo.png);
  width: 279px;
  height: 69px;
  left: 312px;
  top: -2747px;
  z-index: 100;
}
.apelogo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/apelogo.png);
  width: 175px;
  height: 84px;
  left: 297px;
  top: -2739px;
  z-index: 100;
}
.crnlogo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/crnlogo.png);
  width: 163px;
  height: 71px;
  left: 125px;
  top: -2808px;
  z-index: 100;
}
.ufologo{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/ufologo.png);
  width: 145px;
  height: 44px;
  left: 488px;
  top: -2865px;
  z-index: 100;
}
.tourbutton{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/tourbutton.png);
  width: 288px;
  height: 126px;
  left: 638px;
  top: -4664px;
  z-index: 100;
}
.diffuser{
  width: 30px;
  height: 80px;
  left: 288px;
  top: -3020px;
  z-index: 120;
}
.fire{
  top: -3820px;
  left: 295px;
  width: 120px;
  height: 130px;
}
.turtle{
  top: -4150px;
  left: 545px;
  width: 120px;
  height: 130px;
}
.chicken{
  top: -3380px;
  left: 778px;
  width: 120px;
  height: 130px;
  z-index: 120;
}
.glass{
  top: -4000px;
  left: 578px;
  width: 90px;
  height: 115px;
  z-index: 120;
}
.sblink{
  top: -4430px;
  left: 368px;
  width: 190px;
  height: 80px;
  z-index: 120;
}



// Loading Screen //
.loading-animation{
  position: relative;
  margin-top: -4800px;
  left: -10px;
  background-color: #181759;
  width: 103%;
  height: 102%;
  z-index: 1000;
  h1{
    margin: 0 auto;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 50%;
  }
}

.loadingbar{
  background-color: white;
  width: 90%;
  height: 40px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px;
}

.actualbar{
  background-color: #181759;
  height: 30px;
  border-radius: 15px;
  width: 0%;
}


.starburst{
  background-image: url(https://s3.amazonaws.com/myfangate.com/brosafari/starburst.png);
  height: 226px;
  width: 259px;
  top: -4820px;
  left: -30px;
  cursor: default;
}
