.footer{
  width: 900px;
  padding: 10px;
  margin: 20px auto;
  i{
    margin-right: 10px;
  }
  i.fa{
    padding: 10px 13px 10px 14px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    background-color: #fff;
    color: #181759;
    font-size: 50px; 
  }
  i.fa:hover{
    background-color: #181759;
    color: #fff;
  }
  img{
    float: right;
    margin-top: -20px;
  }
}
