#sign_up_box #sign_up_footer a {
  color: #999;
}
#sign_up_box #sign_up_content #sign_up_email_address_label .email {
  color: #46C921;
}
.title {
  color: #F1BE4B;
}
#sign_up_box #sign_up_content #sign_up_email_address_label {
  color: #44AC31;
  font-size: 12px;
}
#sign_up_box #sign_up_title {
  color: #EFDD57;
}
.dates {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
.dates {
  color: #CCC;
}
.dates {
  color: #FFF;
}
.date {
  font-style: normal;
}
.date {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
  font-style: normal;
}
.date {
  color: #FFF;
}
.date {
  font-weight: 100;
}
.main {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
}
.main {
}
.main {
  color: #FFF;
}
.main {
  font-weight: bold;
}
.main {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
  font-style: normal;
}
.main {
  font-weight: lighter;
}
.main {
  font-weight: lighter;
}
.main {
  font-size: 14px;
}
.main {
  font-size: 17px;
  font-weight: lighter;
}
.blackout {
  color: #000;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.crazedates {
  color: #FF0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.crndates {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #FC0000;
}
.crdates {
  font-weight: bold;
  font-size: 15px;
  color: #FE65E4;
}
.apedates {
  font-size: 15px;
  font-weight: bold;
  color: #999;
}
.ufodates {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #A9FF00;
}
#tourdates{
  width: 900px;
  margin: 0 auto;
  background-color: white;
}
