@charset "utf-8";

@import "bootstrap.min";
@import "animationstyle";
@import "animationcss";
@import "imageloader";
@import "tourdates";
@import "emailcontest";
@import "videomodal";
@import "footer";


.shadowCSS { box-shadow: 0px 0px 7px rgba(54,219,220, 100); }
.shadowfilter { -webkit-filter: drop-shadow(0px 0px 20px rgba(54,219,220, 100));
filter: url(shadow.svg#drop-shadow); }

.shadowCSS2 { box-shadow: 0px 0px 7px rgba(245,0,0,100); }
.shadowfilter2 { -webkit-filter: drop-shadow(0px 0px 20px rgba(245,0,0, 100));
filter: url(shadow.svg#drop-shadow); }


#simplemodal-container a.modalCloseImg {
  background:url(https://s3.amazonaws.com/myfangate.com/brosafari/close_icon.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

.modals{
  display: none;
}

.soundcloud{
  width: 600px;
}

#contestModal{
  width: 810px;
  height: 900px;
}

#emailModal{
  width: 640px;
  padding: 20px;
  background-color: white;
}
