<div class="footer">
    <a href="https://www.facebook.com/brosafari" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="https://twitter.com/brosafari" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="http://instagram.com/brosafari" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="http://thesuicidebunny.net/" target="_blank"><img height="100px" src="https://s3.amazonaws.com/myfangate.com/brosafari/suicidebunnylogo.png"></a>
</div>
