---
title: Animal House Tour
---
<div id="animation-container">
  <!-- Sprites -->
  <div id="animation-window">
    <div class="dog">&nbsp;</div>
    <div class="title">&nbsp;</div>
    <div class="trash">&nbsp;</div>
    <div class="mc">&nbsp;</div>
    <div class="ufo">&nbsp;</div>
    <div class="ape">&nbsp;</div>
    <div class="crn">&nbsp;</div>
    <div class="etc">&nbsp;</div>
    <div class="craze">&nbsp;</div>
    <div class="thuglife">&nbsp;</div>
    <div class="pig">&nbsp;</div>
    <div class="crazelogo">&nbsp;</div>
    <div class="mclogo">&nbsp;</div>
    <div class="etclogo">&nbsp;</div>
    <div class="apelogo">&nbsp;</div>
    <div class="crnlogo">&nbsp;</div>
    <div class="ufologo">&nbsp;</div>
    <div class="diffuser">&nbsp;</div>
    <div class="fire">&nbsp;</div>
    <div class="turtle">&nbsp;</div>
    <div class="chicken">&nbsp;</div>
    <div class="glass">&nbsp;</div>
    <a href="http://thesuicidebunny.net/" target="_blank"><div class="sblink">&nbsp;</div></a>
    <div class="tourbutton">&nbsp;</div>
    <!-- Loader -->
    <div class="loading-animation">
        <h1>LOADING...</h1>
        <div class="loadingbar">
            <div class="actualbar">&nbsp;</div>
        </div>
    </div>
    <div class="starburst">&nbsp;</div>
  </div>
</div>
