---
title: Animal House Tour
---

<div id="animation-container">
  <div id="animation-window">
    <div class="dog"></div>
    <div class="title"></div>
    <div class="trash"></div>
    <div class="mc"></div>
    <div class="ufo"></div>
    <div class="ape"></div>
    <div class="crn"></div>
    <div class="etc"></div>
    <div class="craze"></div>
    <div class="thuglife"></div>
    <div class="pig"></div>
    <div class="crazelogo"></div>
    <div class="mclogo"></div>
    <div class="etclogo"></div>
    <div class="apelogo"></div>
    <div class="crnlogo"></div>
    <div class="ufologo"></div>
    <div class="diffuser"></div>
    <div class="fire"></div>
    <div class="turtle"></div>
    <div class="chicken"></div>
    <div class="glass"></div>
    <div class="sblink"></div>
  </div>
</div>
