---
title: Animal House Tour
---

<div id="animation-container">
  <!-- Sprites -->
  <div id="animation-window">
    <div class="dog"></div>
    <div class="title"></div>
    <div class="trash"></div>
    <div class="mc"></div>
    <div class="ufo"></div>
    <div class="ape"></div>
    <div class="crn"></div>
    <div class="etc"></div>
    <div class="craze"></div>
    <div class="thuglife"></div>
    <div class="pig"></div>
    <a href="#" data-toggle="modal" data-target="#crazeModal"><div class="crazelogo"></div></a>
    <div class="mclogo"></div>
    <a href="#" data-toggle="modal" data-target="#etcModal"><div class="etclogo"></div></a>
    <a href="#" data-toggle="modal" data-target="#apeModal"><div class="apelogo"></div></a>
    <a href="#" data-toggle="modal" data-target="#crnModal"><div class="crnlogo"></div></a>
    <a href="#" data-toggle="modal" data-target="#ufoModal"><div class="ufologo"></div></a>
    <div class="diffuser"></div>
    <div class="fire"></div>
    <div class="turtle"></div>
    <div class="chicken"></div>
    <div class="glass"></div>
    <div class="sblink"></div>
    <a href="#" data-toggle="modal" data-target="#tourdateModal"><div class="tourbutton"></div></a>
    <!-- Loader -->
    <div class="loading-animation">
        <h1>LOADING...</h1>
        <div class="loadingbar">
            <div class="actualbar"></div>
        </div>
    </div>
  </div>
</div>
